*{
    margin: 0;

}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: block;
    margin: 0 auto;

}


header{
font-size: 18px;
color:#e5e7eb;
padding: 20px 100px 10px 180px;
}

.container {
    min-width:100%;
}
/* Header Navagation */

#nav {
    font-size: 12px;
    text-align: right;
    padding-bottom: 60px;
    margin-bottom: 10px;
}
#nav a {
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 10px;
}

/* General stuff */
#background,footer, header {
    background-color: #1f2937;
}
#main{
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 60px 8px 60px;
}

/* Container 1 */

#main p , .signup_button{
    box-sizing: border-box;
    padding: 0 80px 30px 80px;
}
#main p {
    font-size: 18px;
    padding: 34px 39px 27px 0px;
}
.main_text{
    color: #e5e7eb;
}
.border {
    padding: 0 40px 0 40px;
    margin: 0 40px 0 40;
}
.container .placeholder {
    float: right;
   
    right: 20px;
}
.placeholder{
    float: right;
    width: 50%;
    height: 200px;
    border:2px solid rgba(186, 186, 186, 0.3) ;
    margin-left:20px;
    border-radius: 40px;
}
h1 {
    font-size: 48px;
    font-weight:bold;
    color: #f9faf8;
}

.container h2 {
    padding:50px 150px 50px 150px;
    text-align: center;
    font-size: 36px;
    font-weight:bold;
    color: #1f2937;
    text-align:center ;
}

/* Container 2 */

.column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    padding: 0px 10px 10px 0px;
    }
.row {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px 20px 10px 20px;
}
.subtext p{
    width:150px;

    color: #1f2937;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    
}

.image {
    margin:1em;
    width:150px;
    height: 150px;  
    border:2px solid #3882f6;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Container 3 */
#background_quote{
    background-color: #e5e7eb;
}
#quote{
max-width: 800px;
    padding: 100px 30px 120px 30px;
}

#main_signup{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 60px 8px 60px;
}

blockquote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color:light #e5e7eb;
    padding: 20px 60px 20px 60px;
}
cite {
    padding-top: 30px;
    padding-left: 80px;
    font-size: 15px;
    font-weight: bold;
    float:right;
}
/* Both Buttons styles */
.signup_button:hover,.signup_button1:hover{
    background-color: #58606e(40, 5, 170);    
}

.signup_button,.signup_button1 { 
    background-color:#3882f6;
    border-radius: 8px;
    font-weight: bold;
}
.signup_button {
    padding: 2px 20px 2px 20px;
    margin: 2px 0 20px;
    font-size: 18px;
    border: 2px solid #3882f6;
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.signup_button1{
    float: right;
    border: 2px solid white;
    width: 120px;
    height: 40px;
    font-size: 15px;
}

/* Container 4 */
.call {
    padding: 0 100px 0 100px;
    background-color:#3882f6;
    border-radius: 10px;
    margin: 200px;
}
.text {
    width: 400px;
    text-align: left;
    color: #F9faf8;
    padding: 10px 70px 23px 2px;
    font-size: 20px;
}

/* Footer */
footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color:white;
}

/* links styles */
a:link {
    color:#3882f6;
    text-decoration: none;
}
a:visited{
    color:white
}
  a:active {
    color: #3882f6;
}
a:link{
    transition: all 450ms ease-in-out;
}
a:visited:hover{
    color:#3882f6;
  
}
.signup_button:hover,.signup_button1:hover{
    background-color: #e5e7eb;
    color: #3882f6;
    transition: all 450ms ease-in-out;
}